replicaCount: 2

image:
  repository: "nginx"
  tag: "1.23"
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

setProductionState: false

service:
  type: ClusterIP
  port: 80

namespace:
  create: true
  name: sample-app-helm

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "128Mi"
    cpu: "500m"

nodeSelector: {}

tolerations: []

affinity: {}